.col-1 {
    width: 8.33%
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33%
}

.col-5 {
    width: 41.66%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33%
}

.col-8 {
    width: 66.66%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.33%
}

.col-11 {
    width: 91.66%
}

.col-12 {
    width: 100%
}

[class*="col-"] {
    float: left;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
}

.row::after {
    content: "";
    clear: both;
}

div {
    font-family: verdana;
}

.teasertext {
    position: absolute;
    left: 15px;
    bottom: 20px;
    padding: 15px;
    font-weight: bold;
    font-size: 35px;
    opacity: 0.8;
    background-color: #cccccc;
}

.headerimage {
    width: 100%;
}

.navigation_left {
    height: 150px;
    margin-left: 30px;
}

.paragraph_block {
    padding: 10px;
    background-color: #cccccc;
    border-bottom: black;
    border-bottom-width: medium;
    border-bottom-style: solid;
}

nav ul li {
    background-color: #cccccc;
    padding: 10px 10px 10px 10px;
    list-style: none;
    margin-bottom: 2px;
}

ul {
    margin: 0px;
}

li a:hover::before {
    content: ">>";
}

li a {
    color: black;
    text-decoration: none;
}

.paragraph_block a {
    font-size: 13px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.formular_block {
    background-color: #cccccc;
    padding: 0px 5px 5px 5px;
    border-bottom: black;
    border-bottom-width: medium;
    border-bottom-style: solid;
}

.formular_block input {
    margin: 5px 0px 0px 0px;
}

.formular_block textarea, input {
  max-width: 100%;
}
